
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather shit</title>
</head>
<body>

<%= form_tag 'weather/search' do %>
  <%= label_tag :zipcode, "What's your zipcode?" %>
  <%= text_field_tag :zipcode %>
  
<% end %>
  
</body>
</html>